<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>issuetracker</display-name>
  <context-param>
    <param-name>implementation</param-name>
    <param-value>hibernate</param-value>
  </context-param>
  <context-param>
    <param-name>n</param-name>
    <param-value>10</param-value>
  </context-param>
  <filter>
    <filter-name>UsersControlFilter</filter-name>
    <filter-class>org.training.issuetracker.controller.filters.UsersControlFilter</filter-class>
  </filter>
  <filter>
    <filter-name>IssuesOperationFilter</filter-name>
    <filter-class>org.training.issuetracker.controller.filters.IssuesOperationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UsersControlFilter</filter-name>
    <url-pattern>/jsp/SubmitIssuePage.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>IssuesOperationFilter</filter-name>
    <url-pattern>/jsp/SubmitIssuePage.jsp</url-pattern>
    <url-pattern>/jsp/ChangeIssuePage.jsp</url-pattern>
    <servlet-name>ChangeIssueController</servlet-name>
  </filter-mapping>
  <listener>
    <listener-class>org.training.issuetracker.controller.listeners.IssueTrackerContextListener</listener-class>
  </listener>
  <servlet>
    <display-name>WelcomePageController</display-name>
    <servlet-name>WelcomePageController</servlet-name>
    <servlet-class>org.training.issuetracker.controller.servlets.WelcomePageController</servlet-class>
  </servlet>
  <servlet>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>org.training.issuetracker.controller.servlets.LoginController</servlet-class>
  </servlet>
  <servlet>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>org.training.issuetracker.controller.servlets.LogoutController</servlet-class>
  </servlet>
  <servlet>
    <display-name>AddIssueController</display-name>
    <servlet-name>AddIssueController</servlet-name>
    <servlet-class>org.training.issuetracker.controller.servlets.AddIssueController</servlet-class>
  </servlet>
  <servlet>
    <display-name>SortIssuesController</display-name>
    <servlet-name>SortIssuesController</servlet-name>
    <servlet-class>org.training.issuetracker.controller.servlets.SortIssuesController</servlet-class>
  </servlet>
  <servlet>
    <display-name>ChangeIssueController</display-name>
    <servlet-name>ChangeIssueController</servlet-name>
    <servlet-class>org.training.issuetracker.controller.servlets.ChangeIssueController</servlet-class>
  </servlet>
  <servlet>
    <display-name>UpdateIssueController</display-name>
    <servlet-name>UpdateIssueController</servlet-name>
    <servlet-class>org.training.issuetracker.controller.servlets.UpdateIssueController</servlet-class>
  </servlet>
  <servlet>
  	<display-name>BuildsController</display-name>
  	<servlet-name>BuildsController</servlet-name>
  	<servlet-class>org.training.issuetracker.controller.servlets.BuildsController</servlet-class>
  </servlet>
  <servlet>
  	<display-name>AssigneeContoller</display-name>
  	<servlet-name>AssigneeContoller</servlet-name>
  	<servlet-class>org.training.issuetracker.controller.servlets.AssigneeContoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomePageController</servlet-name>
    <url-pattern>/WelcomePageController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddIssueController</servlet-name>
    <url-pattern>/AddIssueController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SortIssuesController</servlet-name>
    <url-pattern>/SortIssuesController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeIssueController</servlet-name>
    <url-pattern>/ChangeIssueController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateIssueController</servlet-name>
    <url-pattern>/UpdateIssueController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuildsController</servlet-name>
    <url-pattern>/BuildsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssigneeContoller</servlet-name>
    <url-pattern>/AssigneeContoller</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>