<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="org.training.issuetracker.model.bean.User"/>
        <mapping class="org.training.issuetracker.model.bean.Build"/>
        <mapping class="org.training.issuetracker.model.bean.Comment"/>
        <mapping class="org.training.issuetracker.model.bean.Issue"/>
        <mapping class="org.training.issuetracker.model.bean.Priority"/>
        <mapping class="org.training.issuetracker.model.bean.Project"/>
        <mapping class="org.training.issuetracker.model.bean.Resolution"/>
        <mapping class="org.training.issuetracker.model.bean.Status"/>
        <mapping class="org.training.issuetracker.model.bean.Type"/>
    </session-factory>
</hibernate-configuration>
